@import "tailwindcss";
@import "@nuxt/ui";
@import "@fontsource-variable/public-sans";
@import "@fontsource/jetbrains-mono/400.css";

@theme {
  --font-sans: "Public Sans Variable", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@utility scrollbar-thin {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: var(--ui-border);
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--ui-border) transparent;
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background-color: var(--ui-border);
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
